<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hotelPriceAPIKey</key>
	<string>https://data.xotelo.com/api/rates</string>
	<key>adminKey</key>
	<string>PWVBofJLqkfETMBMGGYPoDZvmIO2</string>
</dict>
</plist>
